* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  margin: 10px 20px;
  background-size: 100%, auto;
  background-position: top center;
}

main {
  display: flex;
  margin: 0px auto;
  flex-direction: column;
  min-width: 100%;
}

.header-section {
  width: 100%;
  min-height: 220px;
  display: flex;
  padding: 20px;
  flex-wrap: nowrap;
  justify-content: center;
}

.header-section * {
  padding: 0px;
}

.header-section h1 {
  font-size: 80px;
  color: black;
  font-family: 'EB Garamond', serif;
  font-weight: 300;
  /* margin-left: 7%; */
  margin-right: 75px;
  margin-bottom: 80px;
}

.header-section h3 {
  color: black;
  font-family: 'EB Garamond', serif;
}

.header-section div:first-child {
  display: flex;
}

.div-logoprincipal {
  max-width: 800px;
  flex-direction: column;
  align-items: flex-end; 
}

.div-balanca {
  min-width: 300px;
  min-height: fit-content;
  text-align: left;
}

.logo-principal {
  min-width: 600px;
}

.logo-balanca {
  min-width: 200px;
}

/* section 1 */

.section-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.section-1 div {
  min-height: 900px;
  background-color: white;
  margin: 0 auto;
}

.section-1 h1 {
  font-size: 85px;
  color: black;
  font-family: 'EB Garamond', serif;
  font-weight: 300;
  text-align: center;
  margin: 55px auto;
  margin-bottom: 70px;
}

.section-1 h3 {
  font-size: 35px;
  margin-top: 3px;
  color: black; 
  font-family: 'EB Garamond', serif;
  font-weight: 300;
  text-align: center;
  justify-self: left;
}

.section-2 {
  width: 100%;
  min-height: 250px;
  background-color: #726d6d;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: nowrap;
}

.section-2 h2 {
  font-size: 80px;
  color: black;
  font-family: 'EB Garamond', serif;
  font-weight: 300;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 30px;
}

.section-2 h3 {
  font-size: 35px;
  color: black;
  font-family: 'EB Garamond', serif;
  font-weight: 300;
  text-align: left;
}

.div-first-atuacao {
  margin: 0 auto;
}

.div-second-atuacao {
  width: 1200px;
  padding: 10px;
  letter-spacing: 1px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-second-atuacao h3 {
  padding: 20px;
  letter-spacing: 1px;
}


.section-avaliacoes {
  min-height: 270px;
  background-color: white;
  max-width: 1300px;
  min-width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-wrap: inherit;
  justify-content: center;
  padding: 20px;
  margin-bottom: 1%;
}

.section-avaliacoes > h3 {
  font-size: 40px;
  margin-bottom: 80px;
}

.my-slider {

}

.tns-item {


}

.tns-item * {
  min-height: 90px;
  margin: 10px;
}

.list-container {
  min-height: 270px;
  display: flex;
  align-items: center;
}

.lista-atuacao-1 {
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 35px;
  flex-wrap: wrap;
  list-style: none;
}

.lista-atuacao-1 li {
   margin-bottom: 24px;   
   background-image: url(./assets/circlecheck-removebg-preview.png);
   background-repeat: no-repeat;
   padding-left: 59px;
   background-position: 5px;
}

.lista-atuacao-2  {
  margin: 15px auto;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 35px;
  flex-wrap: wrap;
  list-style: none;
}

.lista-atuacao-2 li {
  margin-bottom: 30px;   
  background-image: url(./assets/circlecheck-removebg-preview.png);
  background-repeat: no-repeat;
  padding-left: 59px;
  background-position: 5px;
}

#areaDiferencial {
  max-width: 100%;
  align-items: baseline;
}

.lista-diferencial {
  list-style: none;
}

.lista-diferencial h3 {
  font-size: 65px;
  text-align: left;
  margin: 20px;
}

.lista-diferencial p {
  font-size: 35px;
  text-align: start;
  margin-bottom: 5px;
  margin-left: 200px;
  white-space: nowrap;
}

.diferTitle {
  font-size: 75px;
  text-align: left;
  margin: 13px;
  margin-bottom: 80px;
  margin-top: 20px;
  color: black; 
  font-family: 'EB Garamond', serif;
  font-weight: 300;
  text-align: center;
  justify-self: left;
}

.lista-diferencial img {
  max-width: 150px;
  justify-content: center;
  margin: auto 20px;
  float: left;
}

.quem-somos-container {
  display: flex;
  padding: 20px 32px;
  margin: 0 auto;
}

.quem-somos-container img {  
  align-self: center;
  max-width: fit-content;
  min-width: 300px;
  max-height: 300px;
  margin-top: 0px;
}

.quem-somos-container h1 {
  text-align: left;
  font-size: 50px;
  color: white;
  font-weight: 100;
}


.quem-somos-container p {
  font-size: 29px;
  color: white;
}

.quem-somos-container * {
  padding: 25px;
}

.quem-somos-inside-container * {
  align-items: center;
  padding: 20px;
}

.quem-somos-inside-container p {
  
}



/* final section */

.entreEmContato {
  width: 100%;
  min-height: 250px;
  background-color: #141414;
  font-size: 25px;
  margin-top: 15px;
  color: white;
  font-family: 'EB Garamond', serif;
  font-weight: lighter;
  text-align: center;
  justify-self: left;
}

.entreEmContato h3{
  margin: 30px auto;
  padding: 20px;
}

.entreEmContato p{
font-family: Arial, Helvetica, sans-serif;
font-size: 25px
}

.my-footer {
  width: 100%;
  min-height: 50px;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: 'EB Garamond', serif;
  font-weight: lighter;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
}

.my-footer > div {
  margin-right: 80px;
}

.my-footer > div > img {
  max-width: 450px;
  padding: 30px;
}

.my-footer > div > ul > li > a > img {
  min-width: 20px;
  max-width: 35px;
  margin: 15px;
  float: left;
  text-align: center;
  transition: transform .3s;
}

.my-footer > div > ul > li > a > p {
  float: right;
  margin-top: 6%;
}

a {
  color: black;
}

.my-footer > div > ul > li > a > p:hover {
  text-decoration: underline;
}


.socialmedia-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  color: white;
}

.endereco-ftr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-top: 1%;
}

.endereco-ftr > h3 {
  margin-left: 4%;
  margin-bottom: 3%;
  margin-top: 3%;
}


.endereco-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  justify-content: center;
  text-align: left;
}

.endereco-list * {
  text-decoration: none;
}

.local_item {
  text-align-last: left;
}

.local-text {
  text-decoration: none;
}

.local-logo {
  padding-top: 4%;
  transition: transform .3s;
}

.email-logo {
  
}

.email {
  
}


.endereco-ftr > ul > li > img {
  min-width: 20px;
  max-width: 35px;
  margin: 15px;
}

.endereco-ftr > ul > li > a > p:last-child {
  font-size: 20px;
}

/* imagens */

.logo-principal {
  max-width: 450px;
  margin: 10px;
}

.logo_souza_advocacia {
  align-items: flex-end;
  transition: transform .3s;
}

.logo_souza_advocacia:hover {
  transform: scale(1.1);
}

.whats_logo {
  max-width: 130px;
  max-height: 150px;
  transition: transform .3s;
}

.whats_logo:hover {
  transform: scale(1.1); 
}

.insta-logo:hover {
  content: url(./assets/icons/icons8-instagram.svg);
  transform: scale(1.1);
}

.youtube-logo:hover {
  content: url(./assets/icons/icons8-reproduzir-youtube.svg);
  transform: scale(1.1);
}

.local-logo:hover {
  content: url(./assets/icons/icons8-marcador-80.png);
  transform: scale(1.1);
}

@media only screen and (max-width: 900px) and (min-width: 150px) {
  body {
    display: block;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
  }

  body div {
    width: 100%;
    margin-top: 3px;
  }

  main {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 100%;
  }

  .header-section {
    width: 100%;
    min-height: 220px;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: red;
  }

  .header-section * {
    margin: 0 auto;
    padding: 10px;
    margin: 4px;
  }

  .header-section h1 {
    font-size: 35px;
    margin: 0;
  }

  .logo-principal {
    min-width: 200px;
    padding: 10px;
    margin: 35px -35px;
    margin-bottom: 0;
  }

    
  .logo-principal {
    max-width: 300px;
  }

  
  .logo-balanca {
    min-width: 50px;
    max-width: 100px;
  }
  
  .div-logoprincipal {
    min-width: 220px;
    flex-direction: column;
  }

  .div-balanca {
    min-width: 20px;
    text-align: start;
    max-width: 320px;
  }

  .section-2 {
    min-width: 100%;
    min-height: 250px;
    background-color: #8f8f8f;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .section-2 h2 {
    font-size: 40px;
    font-family: 'EB Garamond', serif;
    font-weight: 300;
    text-align: center;
    margin: 20px;
    margin-bottom: 0;
  }

  .section-2 h3 {
    font-size: 20px;
    font-family: 'EB Garamond', serif;
    font-weight: 300;
    text-align: left;
    white-space: wrap;
    padding: 0px;
    margin-bottom: 30px;
  }

  .div-first-atuacao {
    margin: 0 auto;
    text-align: center;
  }

  .div-second-atuacao {
    width: 320px;
    padding: 0px;
    letter-spacing: 1px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .div-second-atuacao h3 {
    padding: 20px;
    margin: 10px auto;
    letter-spacing: 1px;
    font-size: 20px;
  }
  
  

  .list-container {
    min-height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: left;
}

  .lista-atuacao-1 {
    margin: 5px;
    margin-right: 45px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 19px;
    flex-wrap: wrap;
    list-style: none;
  }

  .lista-atuacao-1 li {
   margin-bottom: 24px;   
   background-image: url(./assets/circlecheck-removebg-preview.png);
   background-repeat: no-repeat;
   padding-left: 75px;
   margin-left: 5px;
   background-position: 12px;
}

  .lista-atuacao-2  {
    margin: 5px;
    margin-right: 45px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 19px;
    flex-wrap: wrap;
    list-style: none;
  }

  .lista-atuacao-2 li {
    margin-bottom: 30px;   
    background-image: url(./assets/circlecheck-removebg-preview.png);
    background-repeat: no-repeat;
    padding-left: 70px;
    background-position: 5px;
  }
  

  .section-1 h1 {
    font-size: 40px;
    color: black;
    font-family: 'EB Garamond', serif;
    font-weight: 300;
    text-align: center;
  }

  .section-1 h3 {
    font-size: 30px;
    margin-top: 3px;
    color: black; 
    font-family: 'EB Garamond', serif;
    font-weight: 300;
    text-align: center;
    justify-self: left;
  }

  .section-1 div {
    width: 390px;
    min-height: 420px;
    background-color: white;
  }
  

  .lista-diferencial {
    list-style: none;
  }

  
  .lista-diferencial h3 {
    font-size: 25px;
    text-align: left;
    margin: 13px;
    margin-bottom: 11px;
  }
  
  .diferTitle {
    font-size: 35px;
    text-align: left;
    margin: 13px;
    margin-bottom: 40px;
    margin-top: 20px;
    color: black; 
    font-family: 'EB Garamond', serif;
    font-weight: 300;
    text-align: center;
    justify-self: left;
  }
  
  .lista-diferencial p {
    font-size: 15px;
    text-align: start;
    margin-bottom: 5px;
    margin-left: 90px;
    white-space: nowrap;
  }
  
  .lista-diferencial img {
    max-width: 60px;
    justify-content: center;
    margin: auto 15px;
    padding-bottom: 5px;
    padding-left: 5px;
  }

  .entreEmContato {
   
  }

  .entreEmContato h3{
    font-size: 15px;
    padding: 10px;
    margin-top: 10px;
  }

  .entreEmContato p {
    font-size: 18px;
  }
  .section-avaliacoes {
    min-height: 400px;
    max-width: 300px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-right: 100px;
    margin: 0;
    padding: 0px;
    overflow: auto;
  }
  
  .section-avaliacoes > h3 {
    font-size: 22px;
    margin-bottom: 3%;
    margin-right: 0px;
    padding: 20px;
  }
  
  .my-slider {
 
  }

  .tns-item:nth-child(8) {
    width: 0;
    height: 0;
  }

  .tns-item:nth-child(10) {
   width: 0;
   height: 0;
  }

  .tns-item * {
    margin: 1px;
    min-width: 100%;
    max-width: 606px;
    min-height: 4px;
  }

  .hdrate {
    content-visibility: hidden;
  }

  .quem-somos-container {
    display: flex;
    padding: 4px;
    margin: 50px auto;
    min-height: 220px;
    max-width: 370px;
  }

  
  .quem-somos-container img {  
    align-self: center;
    max-width: fit-content;
    min-width: 125px;
    max-height: 125px;
    margin-top: 20px;
    padding: 4px;
  }
  
  .quem-somos-container h1 {
    font-size: 30px;
    text-align: left;
    margin-bottom: 30px;
    color: white;
    font-weight: 100;
  }
  
  
  .quem-somos-container p {
    font-size: 12px;
    padding: 0;
    margin-bottom: 15px;
    color: white;
    white-space: wrap;
  }
  
  .quem-somos-container * {
    padding: 15px;
  }
  
  .quem-somos-inside-container * {
    align-items: center;
    padding: 0px;
  }
  
  .quem-somos-inside-container p {
    
  }

  .my-footer {
    width: 100%;
    min-height: 490px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'EB Garamond', serif;
    font-weight: lighter;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
  }
  
  .my-footer > div > img {
    max-width: 350px;
    padding: 30px;
    
  }
  
  .my-footer > div > ul > li > a > img {
    min-width: 15px;
    max-width: 25px;
    margin: 15px;
    float: left;
    text-align: center;
    transition: transform .3s;
  }
  
  .my-footer > div > ul > li > p {
    float: right;
    margin-top: 6%;
    text-align: center;
  }
  
  
  .socialmedia-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    color: white;
  }
  
  .mainlogo-ftr {
    margin-bottom: 20px;
   
  }
  
  .endereco-ftr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 1%;
  }
  
  .endereco-ftr > h3 {
    margin-left: 4%;
    margin-bottom: 3%;
    margin-top: 1%;
    font-size: 20px;
  }
  
  
  .endereco-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    justify-content: center;
    text-align: left;
    text-decoration: none;
  }
  
  .local_item {
    text-align-last: left;
  }
  
  .local-text {
  }
  
  .local-logo {
    padding-top: 4%;
  }
  
  .email-logo {
    
  }
  
  .email {
    
  }
  
  
  .endereco-ftr > ul > li > img {
    min-width: 15px;
    max-width: 25px;
    margin: 15px;
  }

    
  .endereco-ftr > ul > li > a > p {
    font-size: 15px;
  }
  
  
  /* imagens */
  
  .logo_souza_advocacia {
    transition: transform .3s;
  }

  .logo_souza_advocacia:hover {
    transform: scale(1.1);
  }
  
  .whats_logo {
    max-width: 110px;
    max-height: 110px;
    transition: transform .3s;
  }
  
  .whats_logo:hover {
    transform: scale(1.1); 
  }
  
  .insta-logo:hover {
    content: url(./assets/icons/icons8-instagram.svg);
    transform: scale(1.1);
  }
  
  .youtube-logo:hover {
    content: url(./assets/icons/icons8-reproduzir-youtube.svg);
    transform: scale(1.1);
  }


}

@media screen and (min-width: 900px) and (max-width: 1110px) {
  
  .header-section {
    width: 100%;
    min-height: 220px;
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .header-section * {
    margin: 0 auto;
    padding: 10px;
  }

  .header-section h1 {
    font-size: 65px;
    margin: 0;
  }

  .logo-principal {
    min-width: 200px;
    padding: 10px;
    margin: 35px -35px;
    margin-bottom: 0;
  }

    
  .logo-principal {
    max-width: 500px;
  }

  
  .logo-balanca {
    min-width: 50px;
    max-width: 200px;
  }
  
  .div-logoprincipal {
    min-width: 220px;
    flex-direction: column;
  }

  .div-balanca {
    min-width: 20px;
    text-align: start;
    max-width: 320px;
  }

  .section-2 {
    width: 100%;
    min-height: 250px;
    background-color: #726d6d;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .div-second-atuacao {
    max-width: 900px;
    padding: 10px;
    letter-spacing: 1px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-2 h3 {
    font-size: 30px;
    color: black;
    font-family: 'EB Garamond', serif;
    font-weight: 300;
    text-align: left;
  }

  .lista-atuacao-1 {
    margin: 15px auto;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 30px;
    flex-wrap: wrap;
    list-style: none;
  }

  .lista-atuacao-1 li {
    margin-bottom: 24px;   
    background-image: url(./assets/circlecheck-removebg-preview.png);
    background-repeat: no-repeat;
    padding-left: 59px;
    background-position: 5px;
 }
 
 .lista-atuacao-2  {
  margin: 15px auto;
  margin-left: 0;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 30px;
  flex-wrap: wrap;
  list-style: none;
}

.lista-atuacao-2 li {
  margin-bottom: 30px;   
  background-image: url(./assets/circlecheck-removebg-preview.png);
  background-repeat: no-repeat;
  padding-left: 59px;
  background-position: 5px;
}

#areaDiferencial {
  max-width: 900px;
  align-items: baseline;
}

.lista-diferencial {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;

}

.lista-diferencial h3 {
}

.lista-diferencial p {
  font-size: 35px;
  text-align: start;
  margin-bottom: 5px;
  margin-left: 200px;
  margin-right: 0;
  white-space: wrap;
}

.diferTitle {
  font-size: 75px;
  margin: 13px;
  margin-bottom: 50px;
  margin-top: 20px;
  margin-left: 200px;
  color: black; 
  font-family: 'EB Garamond', serif;
  font-weight: 300;
  text-align: left;
}

.lista-diferencial img {
  max-width: 150px;
  justify-content: center;
  margin: auto 20px;
  float: left;
}

.quem-somos-container {
  padding: 20px 32px;
}

.quem-somos-container p {
  font-size: 24px;
  white-space: wrap;
}

.section-avaliacoes > h3 {
  font-size: 32px;
  margin-bottom: 3%;
  margin-right: 0px;
  padding: 20px;
}


}
